body{
	background-image: url("../images/background.png");
}

.bloсk_1 {
	background-color:  #FFCC99;
	width: 85%;
	margin: auto;
	border-top: solid black;
	border-bottom: solid black;
	margin-top: 1%;
	border-radius: 30px;
	box-shadow: 0px 0px 0px 3px #FFCC99;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.logo_block {
	max-width: 10rem;
}

.logo {
	width: 100%;
	height: auto;
	border-radius: 30px;
}

.title_menu {
	display: flex;
	flex-wrap: wrap;
}

.title_menu li a {
	color: #8B4513;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
}

.title_menu li:hover {
	opacity: 50%;
}

.title_menu ul li{
	display: flex;
	margin-right: 5px;
	padding: 3px;
}

ul {
  	margin: 0;
  	padding: 4px;
  	display: flex;
  	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: url(pointer.png), pointer;
}

button{
	cursor: url(pointer.png), pointer;
}

a:hover{
	text-decoration: underline;
}

li{
	float: left;
	margin: 1%;
	margin-right: 7%;
  	list-style-image: url(pointer.png);
}

.blok2{
	background-color:  #FFCC99;
	width: 85%;
	height: auto;
	border-top: solid black;
	border-bottom: solid black;
	margin: auto;
	margin-top: 2%;
	border-radius: 30px;
	display: flex;
	box-shadow: 0px 0px 0px 3px #FFCC99;
}

.dog {
	width: 25%;
	padding: 3%;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 30px;
}

.title{
	color: #8B4513;
    font-size: 50px;
    text-shadow:  1px 1px 2px black;
    margin-left: 3%;
    margin-bottom: 1%; 
    margin-top: 5%;
}

.text{
	color: #8B4513;
    font-size: 22px;
    margin-left: 3%;
    margin-right: 5%;
}

.title_inversion{
	color: #8B4513;
    font-size: 50px;
    text-shadow:  1px 1px 2px black;
    margin-left: 10%;
    margin-bottom: 1%; 
    margin-top: 5%;
    padding-left: 2%;
}

.text_inversion{
	color: #8B4513;
    font-size: 22px;
    margin-left: 10%;
    padding-left: 2%;
}

.button{
	color: #8B4513;
	background-color: #FFCC99;
	border: none;
	margin-left: 3%;
	margin-bottom: 1rem;
	text-shadow:  1px 1px 2px black;
	font-size: 25px;
}

.button:hover{
	 opacity: 50%;
}

.button:focus{
	outline: none;
}


.button_inversion{
	color: #8B4513;
	background-color: #FFCC99;
	border: none;
	text-shadow:  1px 1px 2px black;
	font-size: 25px;
	margin-left: 12%;
	margin-bottom: 1rem;
}

.button_inversion:hover{
	 opacity: 50%;
}

.button_inversion:focus{
	 outline: none;
}

.mini{
	margin-left: 3%;
	width: 15%;
	height: 15%;
}

.min{
	padding-right: 3.7rem;
}