body{
    background-image: url("../images/background.png");
}

.bloсk_1 {
  background-color:  #FFCC99;
  width: 89%;
  margin: auto;
  border: solid black;
  margin-top: 2%;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 3px #FFCC99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.title_menu {
  display: flex;
  flex-wrap: wrap;
}

.title_menu li a {
  color: #8B4513;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
}

.title_menu li:hover {
  opacity: 50%;
}

.title_menu ul li{
  display: flex;
  margin-right: 5px;
  padding: 3px;
}

ul {
    margin: 0;
    padding: 4px;
    display: flex;
    list-style-type: none;
}

a {
  text-decoration: none;
  cursor: url(pointer.png), pointer;
}

button{
  cursor: url(pointer.png), pointer;
}

a:hover{
  text-decoration: underline;
}

li{
  float: left;
  margin: 1%;
  margin-right: 7%;
    list-style-image: url(pointer.png);
}

.blok1{
  background-color:  #FFCC99;
  width: 85%;
  height:auto;
  border: solid black;
  margin: auto;
  margin-top: 2%;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 3px #FFCC99;
  padding: 0 2% 2%;
}

.blok1_wedth{
  width: 65%;
  padding: 2%;
  justify-content: space-around;
}

.logo{
  width: 30%;
  height: 30%;
  border-radius: 30px;
  margin-right: 5%;
  margin-bottom: 3%; 
}

.title{
  color: #8B4513;
  font-size: 70px;
  text-shadow:  1px 1px 2px black;
}

.text{
  background-color: #FFCC99;
  color: #8B4513;
  font-size: 22px;
}

.display{
  display: flex;
}

/*================*/

.data {
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  color: #8B4513;
}

.keys, .values {
  text-align: left;
}

.values {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.keys div {
  margin: 1rem;
}

.values input {
  margin: 0.5rem;
}

input {
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
  color: #8B4513;
}

p{
  color: #8B4513;
  font-size: 24px;
  margin-top: 5%;
}
